[data-pp-colors="dark"] {
	color:$pp-dark-gray-white;
	.pp-event-inline-content {
		background:$pp-dark-gray-darker;
	}
	.pp-event {
		color:$pp-dark-gray-lighter;
	}
	.pp-event-meta {
//		color:$pp-dark-gray-lighter;
	}
	.pp-event-title {
		&,
		a {
			color:$pp-dark-gray-white;
		}
	}
	&.pp-tiles-large,
	&.pp-events-list {
		.pp-event-date {
			background-color:$pp-dark-gray-darker;
			border-right:0.5px solid $pp-dark-gray;
		}
		.pp-date-short {
			.year,
			.month {
				color:#fff;
			}
			.pp-date-to .day {
				color:$pp-dark-gray-lighter;
			}
		}
		.pp-event-heading {
			background-color:$pp-dark-gray-dark;
		}
	}
	&.pp-events-list {
		.pp-event {
			background-color:$pp-dark-gray-dark;
		}
		// .pp-event-head {
		// 	&:after {
		// 		@include gradient-dark();
		// 	}
		// }
	}
	&.pp-tiles-large {
		// .pp-event-title {
		// 	&:after {
		// 		@include gradient-dark();
		// 	}
		// }
		.pp-event-meta {
			&,
			.entry-content & {
				color:$pp-dark-gray-white;

			}
		}
	}

	.pp-event-recurring {
		.pp-recurring-date {
			&:hover,
			&:focus {
				background-color:$pp-dark-gray-darker;
				.day {
					color:$pp-blue;
				}
			}
		}
	}
	.pp-map {
		background-color:$pp-dark-gray-dark;
	}
	.pp-event-sharing {
		background-color:$pp-dark-gray-darker;
	}
	.pp-event-body,
	.pp-event-link,
	.pp-event-info,
	.pp-event-info .pp-event-address,
	.pp-event-location-map,
	.pp-event-recurring,
	&.pp-events-list .pp-event-inline,
	.single-pp_event & .pp-event-inline-content,
	&.pp-events-tiles .pp-event-inline-content,
	.pp-event-sharing {
		border-color: $pp-dark-gray;
	}
	.pp-more-box {
		.pp-more {
			@include gradient-dark('vert');
			&:hover {
				color:$pp-dark-gray-white;
			}
		}
	}
	.pp-event-sharing {
		a {
			&:hover {
				color:$pp-dark-gray-white;
			}
		}
	}

	.leaflet-bar {
		a {
			background-color:$pp-dark-gray-dark;
			color:$pp-dark-gray-lighter;
			border-color:$pp-dark-gray;
			&:hover {
				color:$pp-blue;
			}
		}
	}
	.leaflet-touch {
		.leaflet-bar {
			border-color:$pp-dark-gray;
		}
	}

	.pp-close {
		color:$pp-dark-gray-white;
		text-shadow:0 0 5px rgba(#000,0.7);
	}




	/**
	 *	Month
	 */
	&.pp-events-month {
		margin-left:-$grid-gutter-width;
		margin-right:-$grid-gutter-width;
		padding-left:$grid-gutter-width;
		padding-right:$grid-gutter-width;
		padding-bottom:$grid-gutter-width;

		background-color:$pp-dark-black;
	}
	.pp-calendar-month {
		margin:0;
		.pp-mon {
			color:#fff;
		}
		.pp-calendar-month-title {
			.pp-title {
				color:$pp-dark-gray;
			}
		}
		th {
			&[data-weekday] {
				color:$pp-dark-gray-lighter;
			}
			&[data-weekday="6"],
			&[data-weekday="7"] {
				color:$pp-dark-gray;
			}
		}
		[data-day] { // tbody > tr > td
			.pp-day {
				background-color:$pp-gray-darker;
				border-color:$pp-dark-gray;
				color:$pp-dark-gray-lighter;
			}
			// weekend
			&[data-weekday="6"],
			&[data-weekday="7"] {
				.pp-day {
					background-color:$pp-dark-gray-darker;
					border-color:$pp-dark-gray;//rgba($pp-dark-gray,0.8);
					color:$pp-dark-gray;
				}
				.pp-month-day { // div
				//	background-color:$pp-dark-gray-darker;
				}
			}
		}
		.pp-month-day { // div
			background:$pp-dark-gray-darker;
			&[data-more="true"] {
				box-shadow:$pp-shadow;
			}
		}
	}
	.pp-calendar-month,
	.pp-calendar-day {
		.pp-event {
			&,
			.pp-event-title {
				color:$pp-dark-gray-darker;
			}
		}
	}



	.pp-schedule {
		background-color:$pp-dark-gray-darker;
	}
	.pp-schedule-title {
		background-color:$pp-dark-black;
		border-color:$pp-dark-gray;
		.pp-calendar-day-name-long {
			color:#fff;
		}
		time {
			color:$pp-dark-gray-lighter;
		}
	}
	.pp-schedule-content {
		border-color:$pp-dark-gray;
	}

	.pp-schedule-hour {
		&.pp-schedule-hour-all-day {
			.pp-schedule-content {
				background-color:$pp-dark-gray-darker;
			}
			.pp-icon-clock-invers {
				&:before {
					color:$pp-dark-gray-dark;
					background-color:$pp-dark-gray-lighter;
				}
			}
		}
		.pp-hour {
			color:$pp-dark-gray-lighter;
		}
		.pp-schedule-item {

		}
	}

	&.pp-events-month,
	&.pp-events-workweek,
	&.pp-events-week {
		.pp-more {
			color:$pp-dark-gray-lighter;
			// background:
			&:hover,
			&:focus {
				color:$pp-blue;
			}
		}
	}


	&.pp-events-week,
	&.pp-events-workweek {
		background-color:$pp-dark-black;
		border-color:$pp-dark-gray-dark;
		.pp-more-box
		.pp-calendar-day-name-short {
			color:$wp-gray-lighter;
		}
	}

	&.pp-events-week {
		.pp-calendar-day {
			&[data-weekday="6"],
			&[data-weekday="7"] {
				.pp-calendar-day-name-short {
					color:$pp-dark-gray;
				}
				.pp-schedule {
					background-color:$pp-dark-gray-darker;
				}
				.pp-schedule-title {
					background-color:$pp-dark-gray-darker;
					border-color:#2f343b;//rgba($pp-dark-gray,0.8);
					color:$pp-dark-gray;
				}
			}
		}
	}

	.pp-loading {
		&:after,
		&:before {
			color:$pp-dark-black;
		}
		&:before {
			background-color:$wp-gray-lighter;
		}
	}


}
