[data-pp-colors="light"] {
	.pp-event-inline-content {
		background:#fff;
	}
	.pp-event {
		color:$pp-gray-dark;

	}
	.pp-event-meta {
//		color:$pp-dark-gray-lighter;
	}
	.pp-event-title {
		&,
		a {
			color:$pp-gray-dark;
		}
	}
	&.pp-tiles-large,
	&.pp-events-list {
		.pp-event-date {
			background-color:$pp-gray-white;
			border-right:0.5px solid $pp-gray-lighter;
		}
		.pp-date-short {
			.year,
			.month {
				color:$pp-gray-darker;
			}
			.pp-date-to .day {
				color:$pp-gray-dark;
			}
		}
		.pp-event-heading {
			background-color:#fff;
		}
	}
	&.pp-events-list {
		.pp-event {
			background-color:#fff;
		}
		// .pp-event-head {
		// 	&:after {
		// 		@include gradient-light();
		// 	}
		// }
	}
	&.pp-tiles-large {
		// .pp-event-title {
		// 	&:after {
		// 		@include gradient-light();
		// 	}
		// }
		.pp-event-meta {
			&,
			.entry-content & {
				color:$pp-gray-dark;

			}
		}
	}

	.pp-event-recurring {
		.pp-recurring-date {
			&:hover,
			&:focus {
				background-color:$pp-gray-white;
				.day {
					color:$pp-blue;
				}
			}
		}
		.pp-color-day {
			color:$pp-gray-lighter;
		}
		.pp-date-to {
			.day {
				color:mix($pp-gray-light,$pp-gray-lighter);
			}
		}
	}
	.pp-map {
		background-color:$pp-gray-white;
	}
	.pp-event-sharing {
		background-color:$pp-gray-white;
	}
	.pp-event-body,
	.pp-event-link,
	.pp-event-info,
	.pp-event-info .pp-event-address,
	.pp-event-location-map,
	.pp-event-recurring,
	&.pp-events-list .pp-event-inline,
	.single-pp_event & .pp-event-inline-content,
	&.pp-events-tiles .pp-event-inline-content,
	.pp-event-sharing {
		border-color: $pp-gray;
	}
	.pp-event-inline-content {
		.pp-event-content {
			color:$pp-gray-darker;
			.pp-title {
				color:$pp-gray-dark;
			}
		}
		.pp-icon {
			&:before {
				color:$pp-gray-dark;
			}
		}
	}
	.pp-more-box {
		.pp-more {
			@include gradient-light('vert');
			&:hover {
				color:$pp-gray-dark;
			}
		}
	}
	.pp-event-sharing {
		a {
			&:hover {
				color:$pp-gray-dark;
			}
		}
	}
	.pp-event-info {
		.pp-event-link {
			a {
			}
		}
		.pp-time-long,
		.pp-date-long {
			color:$pp-gray-darker;

		}
		.pp-time-long + .pp-date-long {
			color:$pp-gray-light;
		}
		.pp-event-address {
			color:$pp-gray-darker;
		}
	}

	.leaflet-bar {
		a {
			background-color:$pp-gray-white;
			color:$pp-gray-darker;
			border-color:$pp-gray-lighter;
			&:hover {
				color:$pp-blue;
			}
		}
	}

	.leaflet-touch {
		.leaflet-bar {
			box-shadow:$pp-shadow;
			border-color:$pp-gray;
		}
	}

	.pp-close {
		color:$pp-gray-dark;
		text-shadow:0 0 3px #fff;
	}




	/**
	 *	Month
	 */
	.pp-calendar-month {
		.pp-mon {
			color:$pp-gray-darker;
		}
		.pp-calendar-month-title {
			.pp-title {
				color:$pp-gray;
			}
		}
		th {
			&[data-weekday="6"],
			&[data-weekday="7"] {
				color:$pp-weekend-text;
			}
		}
		[data-day] { // tbody > tr > td
			.pp-day {
				background-color:$pp-gray-white;
				border-color:$pp-gray;
				color:$pp-gray-dark;
			}
			// weekend
			&[data-weekday="6"],
			&[data-weekday="7"] {
				.pp-day {
					background-color:$pp-weekend-top;
					border-color:rgba($pp-gray,0.8);
					color:$pp-weekend-text;
				}
				.pp-month-day { // div
					background-color:$pp-weekend-bottom;
				}
			}
		}
		.pp-month-day { // div
			background-color:#fff;
			&[data-more="true"] {
				box-shadow:0 0 4px rgba($pp-gray-darker,0.5)
			}
		}
	}

	.pp-calendar-month,
	.pp-calendar-day {
		.pp-day {
			color:$pp-gray-dark;
		}
		.pp-event {
			&,
			.pp-event-title {
				color:#fff;
			}
		}
	}

	.pp-schedule {
		background-color:#fff;
		box-shadow:$pp-shadow;
//		border-color:$pp-gray-lighter;
	}
	.pp-schedule-title {
		background-color:$pp-gray-white;
		border-color:$pp-gray-lighter;
	}
	.pp-schedule-content {
		border-color:$pp-gray-lighter;
	}
	.pp-schedule-hour {
		&.pp-schedule-hour-all-day {
			.pp-schedule-content {
				background-color:#fff;
			}
			.pp-icon-clock-invers {
				&:before {
					color:#fff;
					background-color:$pp-gray-light;
				}
			}
		}
		.pp-hour {
			color:$pp-gray-light;
		}
	}

	&.pp-schedule-day {
		.pp-schedule-title {
			time {
				color:$pp-gray-light;
			}
		}
	}

	&.pp-events-month,
	&.pp-events-workweek,
	&.pp-events-week {
		.pp-more {
			color:$pp-gray-dark;
			&:hover,
			&:focus {
				color:$pp-blue;
			}
		}
	}

	&.pp-events-workweek,
	&.pp-events-week {
		border-color:transparent;
		.pp-schedule-title {
//			color:$pp-black;
		}
		.pp-calendar-day {
			&[data-weekday="6"],
			&[data-weekday="7"] {
				.pp-calendar-day-name-short {
					color:$pp-weekend-text;
				}
				.pp-schedule {
					background-color:$pp-weekend-bottom;
				}
				.pp-schedule-title {
					background-color:$pp-weekend-top;
					border-color:rgba($pp-gray,0.8);
					color:$pp-weekend-text;
				}
			}
		}
	}
	.pp-loading {
		&:after,
		&:before {
			color:#fff;
		}
		&:before {
			background-color:$pp-gray-dark;
		}
	}

}
