@use "sass:math";

.pp-event {
	a {
		text-decoration: none;
		border-bottom-style:none;
	}
	th {
		vertical-align:top;
	}
}

.pp-date-short {
	text-align:center;
	font-size:12px;
	line-height:1em;
	position: relative;
	margin:0 auto;
	.year, .day, .month, .until {
		display:block;
	}
	.year {
		letter-spacing:0.02em;
		&.this-year {
			display:none;
		}
	}
	.day {
		// 40
		line-height:1em;
		font-weight: 300;
	}
	.month {
		// 12
		text-transform:uppercase;
		letter-spacing:0.02em;
	}
	.until {
		font-size:17px;
	}
	.pp-date-from {
		.day {
			font-size: 30px;
			@media screen and (min-width: $media-tablet) {
				font-size: 40px;
			}
		}
	}
	.pp-date-to {
		.pp-events-list &,
		.pp-tiles-small &,
		.pp-event-recurring & {
			position:absolute;
			left:100%;
			bottom:0;
			padding-left:5px;
		}
		.day {
			font-size: 17px;
		}
		.month {
			font-size:10px;
		}
	}
}


.pp-events {
	.pp-title {
		font-weight:300;
	}
	&.pp-events-tiles {
		margin-left:- math.div( $grid-gutter-width, 2 );
		margin-right:- math.div( $grid-gutter-width, 2 );
		@include clearfix();
	}
}


.pp-event-info,
.pp-event-head {
	h1,h2,h3,h4,h5,h6,p {
		margin:0;
		font-weight:400;
	}
}

.pp-event-content {
	padding:20px 50px;
}

.pp-event {
	box-sizing:border-box;
	.pp-event-title {
		margin-top:0;
		margin-bottom:0;//$grid-gutter-width / 4;
		.pp-title-text {
			text-decoration:none;
			box-shadow: none; // twentysixteen box-shadows links!
		}
	}

}

.pp-event-body {
	// border-top-width:0.5px;
	// border-top-style:solid;
	&.has-no-thumbnail {
		&.has-no-content {
			.pp-event-inline & {
				display:none;
			}
		}
	}
}
.pp-event-inline-content {
	.pp-icon {
		&:before {
			font-size:25px;
			vertical-align:middle;
		}
	}
	.single-pp_event & {
		// border-style:solid;
		// border-width:0.5px;
		// border-top-width:0;
		box-shadow:$pp-shadow;
		:first-child {
			border-top-style:none;
		}
	}
	.pp-event-link {
		padding:20px;
		border-top-width:0.5px;
		border-top-style:solid;
		text-align:center;
		a {
			color:$pp-blue;
		}
	}
}
.pp-event-info {
	border-top-width:0.5px;
	border-top-style:solid;
	text-align:center;
	display:flex;
	flex-direction:row;
	time {
		white-space:nowrap;
	}

	.pp-icon {
		display:block;
		margin-bottom:12px;
	}
	.pp-event-datetime,
	.pp-event-address,
	.pp-event-link {
		flex:1;
		padding:20px;
	}
	.pp-event-link,
	.pp-event-address {
		border-left-width:0.5px;
		border-left-style:solid;
		&,
		& * {
			font-style:normal;
		}
	}
}


.pp-title {
	&,
	.entry-content &,
	.entry-summary &,
	.page-content &,
	.comment-content & {
		margin-top:0;
	}
	.pp-event-inline & {
		display:none;
	}
}

#tinymce,
.widget,
.site-footer .widget-area,
.entry-content,
.entry-summary,
.page-content,
.comment-content {
	.pp-events {
		a {
			text-decoration: none;
			&,
			&:hover {
				box-shadow:none;
				border-bottom-style:none;
			}
		}
	}
}


.pp-event-sharing {
	border-top-width:0.5px;
	border-top-style:solid;
	background-color:$pp-gray-white;
	text-align:center;
	padding:20px 0;
	/* fix 0.5px outline */
	// margin-right: 1px;
    // margin-bottom: 1px;
	a {
		font-size:20px;
		display:inline-block;
		margin:0 0.5em;
		color:$pp-blue;
		&:hover {
			text-decoration: none;
			border-bottom-style:none;
		}
	}

}
