@use "sass:math";

.pp-events {
	& * {
		box-sizing:border-box;
	}
}
.pp-screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute !important;
	height: 1px;
	width: 1px;
}
@keyframes spin {
    from {transform:rotate(90deg);}
    to {transform:rotate(450deg);}
}

.pp-calendar-loader {
	& + .pp-events {
		transition:opacity 0.5s;
		opacity:1;
	}
	&.pp-loading {
		& + .pp-events {
			opacity:0;
		}
	}
}

.pp-loading {
	$icon-size:28px;
	text-align:center;
	&:after,
	&:before {
		content:$pp-icon-clock-hand;
		@include fontello();
		font-size:$icon-size;
		color:#fff;
		width:$icon-size;
		height:$icon-size;
		display:block;
		margin:0 auto;
	}
	&:before {
		background-color:$pp-gray-dark;
		border-radius:math.div($icon-size, 2);
		animation: spin 1s infinite linear;
	}
	&:after {
		margin-top:-$icon-size;
		animation: spin 12s infinite linear;
	}
	& + .pp-events {
		opacity:0;
	}
}


// reset theme styles
.pp-events table {
	&,
	.entry & {
		line-height:1.5;
		tr.alt {
			background-color:transparent;
		}
		td,th {
			border-bottom-style:none;
		}
		th {
			border-top-style:none;
		}
	}
}
