@use "sass:math";

.pp-events-day,
.pp-events-week,
.pp-events-workweek {
	.pp-calendar-days .pp-title {
		font-size:32px;
		font-weight:300;
		text-align:right;
	}

}
.pp-events-day {
	.pp-schedule {
		padding-bottom:$grid-gutter-width;
	}
	.pp-calendar-day-name-short {
		display:none;
	}

	.pp-schedule-title {
		font-size:32px;
		padding:math.div( $grid-gutter-width, 2 )  $grid-gutter-width;
		//margin-bottom:$grid-gutter-width;
		position:relative;
		margin-bottom: 16px;
		border-bottom-width: 0.5px;
		border-bottom-style: solid;
		&.pp-new-month {
			padding-right:$grid-gutter-width * 2;
		}
		.pp-calendar-day-name-long {
			float:left;
		}
		time {
			float:right;
		}
	}
	.pp-schedule-hour {
		margin:0 $grid-gutter-width;
		padding-left:70px;
	}
	.pp-mon {
		font-size: 12px;
	    position: absolute;
	    text-transform: uppercase;
	    top: 50%;
	    right: math.div( $grid-gutter-width, 2 );
	    width: 4em;
	    text-align: center;
	    transform-origin: 2em 0;
	    transform: rotate(-90deg);
		white-space:nowrap;
	}
}


.pp-schedule-title {
	.pp-events-day & {
		.pp-calendar-day-name-long {
			float:left;
		}
		.pp-calendar-day-name-short {
			display:none;
		}
		time {
			float:right;
		}
	}
}
