.pp-event {
	.pp-calendar-day &,
	.pp-calendar-month & { // table
		line-height:18px;
		white-space: nowrap;
		margin-bottom:2px;
		padding-left:6px;
		position:relative;
		text-align:right;

		.pp-event-title {
			//width:100%;
			overflow:hidden;
			text-overflow: ellipsis;
			text-align:left;

			& + span {

			}
		}
		&.pp-all-day {
			.pp-event-title {
				right:6px;
			}
		}
		.pp-event-title,
		.pp-time {
			max-width:100%;
			white-space: nowrap;
			overflow:hidden;
			text-overflow: ellipsis;
			text-align:left;
		}
	}
	.pp-calendar-day & {
		z-index:1;
		.pp-event-title {
			text-decoration:none;
			display:block;
			//float:left;
			//padding:0 6px;
			padding:0;
		}
		.pp-time {
			//margin:0 6px;
			display:block;
			&:before {
				margin-left:0;
			}
			.pp-time-short {
				display:inline-block;
			}
		}
	}
	.pp-calendar-month & { // table
		height:18px;
		.pp-event-title {
			position:absolute;
			top:0;
			left:6px;
			right:20px;
		}
	}

}
