@use "sass:math";

.pp-event-lightbox {
	position: fixed;
	overscroll-behavior:contain;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
	z-index: 10000;
	overflow:auto;
	padding:60px 0;
	.pp-close {
		top: math.div( $grid-gutter-width, 2 );
	}
	.pp-event {
		position: relative;
		width:100%;
		max-width:600px;
		padding:0 math.div( $grid-gutter-width, 2 );
		margin:0 auto;
		.pp-event-inline-content {
			min-height:200px;
		}
	}
}
.pp-event-inline,
.pp-event-lightbox {
	.pp-close {
		position:absolute;
		right:$grid-gutter-width;
		font-size:30px;
		line-height:30px;
		width:30px;
		height:30px;
		transition:color 0.3s;

		&:before {
			margin:0;
		}
		&:hover {
			color:$pp-blue;
		}
	}
	.pp-loading {
		&:before,
		&:after {
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-0.5em;
			margin-left:-0.5em;
		}
	}
}
.pp-event-inline {
	.pp-close {
		top:$grid-gutter-width;
	}
}
