@use "sass:math";

.pp-events-list {
	.pp-event {
		border-top-style:solid;
		font-size:1em;
		overflow:hidden;
	}
	& > .pp-event {
		border-top-width:5px;
	}

	.pp-event-inline {
		border-top-style:none;
		&[data-event-open="true"] {
			border-top-style:solid;
			border-top-width: 0.5px;
		}
	}
	.pp-event-title {
		overflow: hidden;
	    text-overflow: ellipsis;
	    margin-right: 6px;
		font-size:1.75em;
		padding:10px + $grid-gutter-width 5px 0 10px;
	}
	.pp-event-head {

//		height:115px;
		position:relative;
//		overflow:hidden;
//		white-space:nowrap;

		.pp-event-date {
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			display: flex;
			align-items: baseline;
			padding-top:10px + $grid-gutter-width;
			padding-bottom:10px + $grid-gutter-width;
			width:$short-date-width-sm;
			@media screen and (min-width: $media-tablet) {
				width:$short-date-width;
			}
		}
		.pp-event-heading {
			padding-left:$short-date-width-sm + 10px;
			padding-bottom: $grid-gutter-width + 10px;
			@media screen and (min-width: $media-tablet) {
				padding-left:$short-date-width + 10px;
			}
		}
	}
	&.pp-list-compact {
		.pp-event-head {
//			height:70px;
			display:flex;
			.pp-event-date {
				padding-top: $grid-gutter-width;
				padding-right: math.div( $grid-gutter-width, 4 );
				padding-bottom: $grid-gutter-width;
				width:auto;
				flex:0 1 auto;
				position: static;
				@media screen and (min-width: $media-tablet) {
					width:auto;
				}

			}
			.pp-date-short {
				margin-left: math.div( $grid-gutter-width, 2 );
				&.pp-multiple-days {
					margin-right:30px;
				}
				.pp-date-from {
					.day {
						font-size:25px;
						@media screen and (min-width: $media-tablet) {
							font-size:25px;
						}
					}
				}
			}
			.pp-event-heading {
				flex:1 1;
				padding-left:0;
				padding-bottom: $grid-gutter-width;
				@media screen and (min-width: $media-tablet) {
					padding-left:0;
				}
			}
		}
		.pp-event-title {
			font-size:1.125em;
			padding:$grid-gutter-width 5px 0 10px;
		}
	}
	.pp-event-meta {
		font-size:0.75em;
		white-space:nowrap;
		overflow: hidden;
	    text-overflow: ellipsis;
		padding-right:10px;
		& > * {
			display:inline;
			margin-left:10px;
			&,
			address {
				font-style: normal;
			}
			a {
				font-style: italic;
			}
			& > * {
				display:inline;
			}
			br {
				display:none;
			}
		}
	}

	&.pp-list-compact {
		.pp-event-date {

		}
		.pp-event-heading {

		}
	}

	&.pp-events {
		border-radius:4px;
		overflow:hidden;
		box-shadow:$pp-shadow;
	}
}
