.pp-map,[data-map="leaflet"] {
	width:100%;
	min-height:250px;
	border-style:none;
	z-index:1; // twentyfourteen menu bar has z-index:4
}

.pp-event-location-map {
	border-top-width:0.5px;
	border-top-style: solid;
	position:relative;
	line-height:1em;
	box-sizing: content-box;
	// padding-right: 1px;
	padding-top:0.5px;
	br {
		display:none;
	}
	iframe {
		pointer-events:none;
		margin-bottom:0;
		& ~ small {
			position:absolute;
			right:0;
			top:0;
			padding:0;
			display:block;
			a {
				display:inline-block;
				margin:10px;
				border:0.5px solid $pp-gray;
				background:#fff;
				padding:4px 8px;
				border-radius:4px;
				color:$pp-gray-darker;
				&:hover,
				&:focus {
					color:$pp-blue;
				}
			}
		}
	}
	&:focus {
		iframe {
			pointer-events:all;
		}
	}
}
.leaflet-marker-icon {
	&.pp-icon-location {
		font-size: 40px;
		line-height:40px;
		left: -22px;
		top: -36px;
		color:$pp-blue;
	}
}
.leaflet-bar {
	a {
		transition:color 0.3s;
		&,
		.pp-event &,
		&:hover {
			border-width:0;
			border-style:none;
			border-bottom-width:0.5px;
			border-bottom-style:solid;
		}

		&:last-child {
			border-bottom-style:none;
		}
	}
	.leaflet-touch & {
		border-width:0.5px;
	}
}
