@use "sass:math";

.pp-events-month {
	border-radius:4px;
}
.pp-calendar-month { // table
	border-collapse:collapse;
	margin-left:- math.div( $grid-gutter-width, 2 );
	margin-right:- math.div( $grid-gutter-width, 2 );
	border-style:none;
	min-width:100%;
	.pp-calendar-month-title {
		text-align: right;
		.pp-title {
			font-size:32px;
			@media screen and (min-width:$media-tablet) {
				font-size:50px;
			}
		}
	}
	td,th {
		vertical-align:top;
		margin:0;
		padding: math.div( $grid-gutter-width, 4 );
		@media screen and (min-width:$media-tablet) {
//			padding:$grid-gutter-width / 4;
		}
		border-style:none;
	}
	th {
		background-color:transparent;
		&[data-weekday] {
			height:12px;
			line-height:12px;
			font-weight:300;
			text-align:right;
			width:percentage( math.div( 1, 7 ) );
			padding:math.div( $grid-gutter-width, 2 ) math.div( $grid-gutter-width, 4 ) + 2px;
			@media screen and (min-width:$media-tablet) {
//				padding:$grid-gutter-width / 2 $grid-gutter-width / 2 + 6px;
			}
		}
	}
	thead {

	}
	[data-weeknumber] { // tbody > tr

	}
	[data-day] { // tbody > tr > td
		position:relative;
		.pp-day {
			content:attr(data-day);
			border-radius:4px 4px 0 0;
			text-align:right;
			border-bottom-style:solid;
			border-bottom-width:0.5px;
			/*
			font-size:12px; // was 18px
			/*/
			font-size:18px;
			padding:3px math.div( $grid-gutter-width, 4 );
			@media screen and (min-width:$media-tablet) {
				font-size:22px;
//				padding:3px $grid-gutter-width / 2;
			}
			//*/
			font-weight:300;
			margin-bottom:3px;
			position:relative;
			.pp-mon {
				font-size:10px;
				line-height:0;
				height:0;
				width:4em;
				transform:rotate(-90deg);
				position:absolute;
				left:-1.1em;
				top:50%;
				text-align:center;
				text-transform:uppercase;
				transform-origin: 2em 0em;
				white-space:nowrap;
			}
		}
	}
	.pp-calendar-month-title { // th

	}

}
