.pp-more-box {
	max-height:200px;
	overflow:hidden;
	position: relative;
	&[data-more="false"] {
		.pp-more-cut {
			& ~ * {
				display:none !important;
			}
			& ~ .pp-more {
				display:block !important;
			}
		}
	}
	&[data-more="true"] {
		.pp-more {
			display:none;
		}
	}
	.pp-more {
		display:block;
		position:absolute;
		left: 0;
		bottom: 0;
		right: 0;
		color:$pp-blue;
		font-size:30px;
		padding:$grid-gutter-width auto;
		text-align:center;
		// margin-right: 1px;
	}
	.pp-events-month & {
		border-radius:4px;
	}
	.pp-events-month &,
	.pp-events-week &,
	.pp-events-workweek & {
//		padding-top:3px;
		text-overflow:ellipsis;
		.pp-more {
			background:none;
			font-size:12px;
			line-height:20px;
			text-decoration:none;
			text-align: left;
			padding-left:3px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow: ellipsis;

		}
	}
	.pp-events-day & {
		max-height:auto;
		height:auto;
		&[data-more="true"],
		&[data-more="false"] {
			.pp-more {
				display:none !important;
			}
			.pp-more-cut {
				& ~ * {
					display:block !important;
				}
			}
		}
	}
	.pp-events-week &,
	.pp-events-workweek & {
		&[data-more="true"] {
			overflow:visible;
			position:relative;
			z-index:2;
		}
	}
	.pp-events-month & {
		padding-bottom:30px;
		box-shadow:$pp-shadow;
		&[data-more="false"] {
			height:140px;
		}
		&[data-more="true"] {
			max-height:none;
			z-index:1;
			padding-bottom:5px;
		}

	}
}
