.pp-pages {
	position:relative;
	padding-top:40px;
	.pp-pages-controls {
		position:absolute;
		left:0;
		top:0;
		right:0;
		height:40px;
		&:hover {
		}
		[data-action] {
			position: absolute;
			top:0;
			z-index:1;
			opacity:1;
			transition: all 0.3s ease-out;
			line-height:1em;
			&:before {
				margin: 0;
			}
			&:hover {
				opacity:1;
			}
			&:focus {
				outline:none;
			}
		}
		[data-action="prev"] {
			left:0;
//			margin-right:-40px;
		}
		[data-action="next"] {
			right:0;
//			margin-left:-40px;
		}
	}
	& > .pp-events {
		display:none;
		opacity:0;
		position:relative;
		transition: opacity 0.3s ease-out;
		&:first-of-type {
			.mce-content-body & {
				display:block;
				opacity:1;
			}
		}
		&[data-pp-colors="light"] {
			& ~ .pp-pages-controls {
				[data-action] {
					color:$pp-gray;
				}
			}
		}
		&[data-pp-colors="dark"] {
			& ~ .pp-pages-controls {
				[data-action] {
					color:$pp-gray-darker;
					//background-color:#fff;
				}
			}
		}
		&.pp-events-day {
			& ~ .pp-pages-controls {
				[data-action] {
				}
			}

		}
		&.pp-active {
			display:block;
			opacity:1;
			top:0;
			&:first-of-type {
				& ~ .pp-pages-controls {
					[data-action="prev"] {
						display:none;
					}
				}
			}
			& + .pp-pages-controls {
				[data-action="next"] {
					display:none;
				}
			}
		}
	}
}


.pp-icon-button {
	font-size:30px;
	&,
	&:hover,
	&:focus,
	&:active {
		padding:5px;
		margin:0;
		background:transparent;
		border-style:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
	}
}
