@use "sass:math";

.pp-event-recurring {
	border-top-width:0.5px;
	border-top-style:solid;
	padding:20px $grid-gutter-width;
	&.pp-more-box {
		max-height:200px;		
	}

	.pp-title {
		font-weight:300;
		padding:0 $grid-gutter-width;
		& + * {
			margin:0 - math.div($grid-gutter-width, 2);
		}
	}
	&[data-more="true"] {
		max-height:none;
	}
	.pp-recurring-date {
		transition: background-color 0.3s;
		width: percentage( math.div( 1, 3 ) );
		cursor:pointer;
		@media screen and (min-width: $media-tablet) {
			width:20%;
		}
		float:left;
		padding:10px 0;
		display: flex;
		align-items: center;
		.day {
			transition:color 0.3s;
		}
		.pp-date-short {
			&.pp-multiple-days {
				margin-left:5px;
			}
		}
	}
}
