@use "sass:math";

.pp-schedule {
	// margin-left:-$grid-gutter-width / 2;
	// margin-right:-$grid-gutter-width / 2;
	border-radius:4px;
	overflow:hidden;
	// border-style:solid;
	// border-width:0.5px;
	margin-bottom:$grid-gutter-width;
//
	& > * {
	}
	.pp-schedule-hour-all-day {
		.pp-event {
			display:block;
			float:none;
		}
	}
}
.pp-schedule-title {
	font-size:32px;
	font-weight:300;
//	border-bottom-style:solid;
//	border-bottom-width:0.5px;
	padding:math.div( $grid-gutter-width, 2 )  $grid-gutter-width;
//	margin-bottom:$grid-gutter-width;
	white-space: nowrap;
	.pp-events-day & {
		.pp-calendar-day-name-long {
			float:left;
		}
		.pp-calendar-day-name-short {
			display:none;
		}
		time {
			float:right;
		}
	}
}

.pp-schedule-hour {
	position:relative;

	height:45px;

	.pp-hour {
		font-size:12px;
		letter-spacing:0.02em;
		line-height:1em;
		position:absolute;
		left:0;
		top:0;
		margin-top:-0.5em;
		padding-left:20px;
		text-transform:uppercase;
		width:65px;
		hyphens:auto;
		&.pp-all-day {
//			top:50%;
			display: flex;
		    align-items: center;
		    height: 100%;
			hyphens:auto;
		}
		&:before {
			margin-right:0.5em;
		    margin-left: -20px;
		}
	}
	.pp-schedule-content {
		border-top-style:solid;
		border-top-width:0.5px;
		width:100%;
		height:100%;
		display:flex;
		font-weight:600;
		font-size:12px;
		letter-spacing:0.05em;
		& > * {
			flex:1;
//			flex-direction:row;
//				max-width:25%;
			position:relative;
			overflow: hidden;
			& > * {
//					flex:1;
			}
		}
	}
	&:nth-of-type(2) {
		.pp-schedule-content {
			border-top-style:none;
			border-top-width:0;
		}
	}
	&.pp-schedule-hour-all-day {
		margin-bottom:math.div( $grid-gutter-width, 2 );
		.pp-events-week &,
		.pp-events-workweek & {
			height:96px;
		}
		.pp-events-day & {
			min-height:85px;
			height:auto;
		}

		.pp-schedule-content {
			height:auto;
		}
		.pp-icon-clock-invers {
			&:before {
				border-radius:0.5em;
				height:3em;
				line-height:3em;
//				margin-top:-1em;
				float:left;
			}
		}
		.pp-schedule-content {
			display:block;
			& > * {
				flex:none;
			}
		}
	}
	&:last-child {
		// always empty!
		.pp-schedule {
			height:0;
			// border-bottom-style:solid;
			// border-bottom-width:0.5px;
		}
	}
}
