@use "sass:math";

.pp-event {
	.pp-events-tiles & {
		float:left;
		padding:math.div( $grid-gutter-width, 2 );

		.pp-event-inline-content {
			/*
			border-width:0.5px;
			border-style:solid;
			/*/
			box-shadow:$pp-shadow;
			//*/
		}
		.pp-event-inner {
			position:relative;
			height:100%;
			border-radius:4px;
			overflow:hidden;
			box-shadow:$pp-shadow;
		}

		.pp-event-thumbnail {
			img {
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.pp-event-heading {
			.pp-event-meta-content {
				display:block;
				position:relative;
				padding-left:1.5em;
				font-size:12px;
				line-height:15px;
				margin-bottom:5px;
				&:before {
					position:absolute;
					left:0;
					line-height:15px;
				}
				* {
					margin:0;
				}
				&,
				address {
					font-style: normal;
				}
				&.pp-event-link,
				a {
					font-style: italic;
				}
			}
		}
		.pp-event-title {
			margin-bottom:10px;
		}
	}
	.pp-tiles-small & {
		height:290px;
		width:percentage( 1 );
		@media screen and (min-width:$media-phablet) and (max-width: $media-tablet - 1px ) {
			width:percentage( 0.5 );
		}
		@media screen and (min-width: $media-tablet ) {
			width:percentage( math.div( 1, 3 ) );
		}
		.widget & {
			width:percentage( 1 );
		}
		a {
		//	color:#fff;
		}
		.pp-event-date,
		.pp-event-heading {
			& > * {
				color:#fff !important;
			}
		}
		.pp-event-date {
			padding:math.div($grid-gutter-width, 2);
			border-bottom:0.5px solid rgba(#fff,0.5);
			@include clearfix();
			.pp-date-short {
				width:auto;
				float:left;
			}
			.pp-color-day,
			.day {
				color:#fff !important;
			}
		}
		.pp-event-heading {
			padding:math.div($grid-gutter-width, 2) math.div($grid-gutter-width, 2) + 4px;
			a {
				color:#fff !important;
			}
		}

		.pp-event-visual {
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			& ~ * {
				position:relative;
			}
		}
		.pp-event-thumbnail {
			height:100%;
			position:relative;
			&:after {
				content:'';
				position:absolute;
				left:0;
				top:0;
				bottom: 0;
				right:0;
				background-color:rgba(0,0,0,0.3);
			}
		}
	}
	.pp-tiles-large & {
		width:percentage( 11 );
		@media screen and (min-width: $media-tablet ) {
			width:percentage( 0.5 );
		}
		.widget & {
			width:percentage( 1 );
		}
		height:355px + $grid-gutter-width;


		.pp-event-visual {
			//padding-top 66/40
			height:205px;
			padding-bottom:5px;
		}
		.pp-event-thumbnail {
			height:200px;
		}
		.pp-event-head {
			display:flex;
			flex-direction:row;
			height:150px;
			align-items:stretch;
		}
		.pp-event-date {
			flex:2;
			align-items:center;
			padding-top:10px;
		}
		.pp-event-heading {
			flex:5;
			overflow:hidden;
			padding:10px 0 0 10px;
			.pp-event-title {
				position: relative;
				.pp-title-text {
					display:block;
					max-width:100%;
					white-space:nowrap;
					text-overflow:ellipsis;
					overflow: hidden;
					padding-right:10px;
				}
				// &:after {
				// 	content:'';
				// 	position: absolute;
				// 	right: 0;
				// 	top:0;
				// 	bottom:0;
				// 	width:20%;
				// }
			}
		}
	}
}


.pp-event-inline {
	.pp-events-tiles & {
		@media screen and (min-width:$media-phablet) {
			display:none;			
		}
	}
	.widget & {
		display:block !important;
	}
	width:100%;
	// DEBUG
	// height:10px;
	// background:#ff0000;
	height:auto;
	padding-top:0;
	padding-bottom:0;
	.pp-tiles-small & {

		@media screen and (min-width:$media-phablet) and (max-width: $media-tablet - 1px ) {
			&:last-of-type,
			&:nth-of-type(2n) {
				display:block;
			}
		}
		@media screen and (min-width: $media-tablet ) {
			&:last-of-type,
			&:nth-of-type(3n) {
				display:block;
			}
		}
	}
	.pp-tiles-large & {
		@media screen and (max-width: $media-tablet - 1px ) {
			display:block;
		}
		@media screen and (min-width: $media-tablet ) {
			&:last-of-type,
			&:nth-of-type(2n) {
				display:block;
			}
		}
	}
	.pp-event {
		width:100%;
		height:auto;
		position:relative;
		.pp-event-inline-content {
			min-height:100px;
		}
	}
}
