@use "sass:math";

.pp-calendar-day {
	.pp-events-week &,
	.pp-events-workweek & {
		overflow:visible;
		@media screen and (min-width:$media-tablet) {
			float:left;
		}
		padding:0 3px;
		.pp-hour {
			@media screen and (min-width:$media-tablet) {
				display:none;
			}
			position:absolute;
			left:-70px;
//			top:0;
//			width:auto;
		}
		&[data-weekday="6"],
		&[data-weekday="7"] {

		}
	}
	.pp-events-week & {
		@media screen and (min-width:$media-tablet) and (max-width: $media-tablet + 70px) {
			.pp-hour {
				width:35px;
				overflow:hidden;
				left:-50px;
				//transform:rotate(90deg);
				.pp-minutes {
					display:none;
				}
				&.pp-all-day {
					&:before {
						margin-left:0;
					}
				}
				&.pp-icon-clock {
					&:before {
						content:none;
					}
				}
			}
		}
		.pp-schedule {
			overflow:visible;
			@media screen and (max-width:$media-tablet - 1px) {
				margin-left:70px;
			}
			@media screen and (min-width:$media-tablet) and (max-width: $media-tablet + 70px) {

			}
		}
		@media screen and (min-width:$media-tablet) {
			width:percentage( math.div( 1, 7 ) );
			&:nth-of-type(7n+1) {
				clear:left;
				.pp-schedule {
					overflow:visible;
				}
				.pp-hour {
					display:flex;
				}
			}
		}
	}
	.pp-events-workweek & {
		@media screen and (min-width:$media-tablet) {
			width:percentage( 0.2 );
			&:nth-of-type(5n+1) {
				clear:left;
				.pp-schedule {
					overflow:visible;
				}
				.pp-hour {
					display:flex;
				}
			}
		}
	}
	.pp-mon {
		.pp-events-week & {
			font-size:12px;
		}
		text-transform:uppercase;
	}
}
.pp-schedule-title {
	.pp-events-week &,
	.pp-events-workweek & {
		padding:5px;
		text-align:right;
		font-size:18px;
		border-bottom-style:solid;
		border-bottom-width: 0.5px;
		time {
			// wrap this
		}
	}
}


.pp-schedule-hour {
	.pp-events-week &,
	.pp-events-workweek & {
//		padding-left:0;
	}
}

.pp-events-month,
.pp-events-week,
.pp-events-workweek {
	.pp-event-title {
		font-size:11px;
	}
	.pp-time {
		font-size:10px;
	}
}

.pp-events-week,
.pp-events-workweek {
	margin-left: -80px;
	padding-left: 80px;
	margin-right: - math.div( $grid-gutter-width, 2 );
	padding-right: math.div( $grid-gutter-width, 2 );
	padding-top: math.div( $grid-gutter-width, 2 );
	border-radius:4px;
	border-width:0.5px;
	border-style:solid;
	.pp-calendar-day-name-long {
		// smaller
		display:none;
	}
	.pp-calendar-day-name-short {
		font-size:12px;
		text-transform:uppercase;
		text-align:right;
		margin:5px;
	}
	.pp-schedule-title,
	.pp-schedule-hour {
//		margin:0 5px;
	}
	.pp-event {
		& > .pp-icon-clock {
			&:before {
				content:none;
			}
		}
	}
}
