@mixin gradient-light($dir:'horiz') {
	$from: top;
	$to_w3: bottom;
	@if ($dir == 'horiz') {
		$from: left;
		$to_w3: right;
	} @else {
	}
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient($from, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient($from, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to $to_w3, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

@mixin gradient-dark($dir:'horiz') {
	$from: top;
	$to_w3: bottom;
	@if ($dir == 'horiz') {
		$from: left;
		$to_w3: right;
	} @else {
	}
	background: -moz-linear-gradient($from, rgba($pp-dark-gray-dark,0) 0%, rgba($pp-dark-gray-dark,1) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient($from, rgba($pp-dark-gray-dark,0) 0%,rgba($pp-dark-gray-dark,1) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to $to_w3, rgba($pp-dark-gray-dark,0) 0%,rgba($pp-dark-gray-dark,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}


@mixin clearfix {
	&:after {
		content: "";
	    display: table;
	    clear: both;
	}
}

.pp-clearfix {
	@include clearfix();
}
