@import '../variables/variables';
input {
	&[type="checkbox"] {
		&.disabled {
			pointer-events:none;
		}
	}
}
.acf-google-map {
	&.disabled {
		pointer-events: none;
	}
}
.acf-repeater {
	.disabled > & {
		.acf-row-handle {
			display:none;
		}
	}
}

@keyframes spin {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}


.taxonomy-pp_calendar {
	.pp-calendar-create {
		& + .form-wrap {
			display:none;
		}
	}
}
.widefat {
	.column-pp_event_color,
	.column-pp_cal_color {
		width:48px;
	}
	.column-sync {
		width:48px;
	}
	.column-last_sync {
		width:100px;
	}
}
.acf-icon {
	&.blue {
		border-color: transparent;
	    background-color: $wp-blue;
	    color: #fff;
	}
	&.spin {
		&,
		&:hover {
			cursor:not-allowed;
			background-color:#b4b9be;
		}

		&:before {
			animation:spin 2s linear infinite;
		}
	}
}






.pp-more-box {
	&[data-more="true"] {
		.pp-more {
			display:none;
		}
	}
	&[data-more="false"] {
		.pp-more ~ * {
			display:none;
		}
	}
}
