@import 'fontello-vars';

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '#{$fontello-fontname}';
    src: url('../font/couleur.svg?18473869#couleur') format('svg');
  }
}
*/

@mixin fontello-face($basepath: '..') {
	@font-face {
	  font-family: '#{$fontello-fontname}';
	  src: #{url}('#{$basepath}/fonts/#{$fontello-fontname}.woff2?#{$fontello-cachebuster}') format('woff2'),
	       #{url}('#{$basepath}/fonts/#{$fontello-fontname}.woff?#{$fontello-cachebuster}') format('woff');
	  font-weight: normal;
	  font-style: normal;
	}

}

@mixin fontello(){

	font-family: "#{$fontello-fontname}";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


[class^="pp-icon-"]:before, [class*=" pp-icon-"]:before {
	@include fontello();
}

@import 'fontello-codes';
