
$pp-icon-arrow-down: '\e800';
.pp-icon-arrow-down:before { content: $pp-icon-arrow-down; } /* '' */
$pp-icon-arrow-left: '\e801';
.pp-icon-arrow-left:before { content: $pp-icon-arrow-left; } /* '' */
$pp-icon-arrow-right: '\e802';
.pp-icon-arrow-right:before { content: $pp-icon-arrow-right; } /* '' */
$pp-icon-arrow-up: '\e803';
.pp-icon-arrow-up:before { content: $pp-icon-arrow-up; } /* '' */
$pp-icon-clock-hand: '\e804';
.pp-icon-clock-hand:before { content: $pp-icon-clock-hand; } /* '' */
$pp-icon-clock-invers: '\e805';
.pp-icon-clock-invers:before { content: $pp-icon-clock-invers; } /* '' */
$pp-icon-clock: '\e806';
.pp-icon-clock:before { content: $pp-icon-clock; } /* '' */
$pp-icon-close: '\e807';
.pp-icon-close:before { content: $pp-icon-close; } /* '' */
$pp-icon-email: '\e808';
.pp-icon-email:before { content: $pp-icon-email; } /* '' */
$pp-icon-facebook: '\e809';
.pp-icon-facebook:before { content: $pp-icon-facebook; } /* '' */
$pp-icon-gplus: '\e80a';
.pp-icon-gplus:before { content: $pp-icon-gplus; } /* '' */
$pp-icon-linkedin: '\e80b';
.pp-icon-linkedin:before { content: $pp-icon-linkedin; } /* '' */
$pp-icon-location: '\e80c';
.pp-icon-location:before { content: $pp-icon-location; } /* '' */
$pp-icon-menu: '\e80d';
.pp-icon-menu:before { content: $pp-icon-menu; } /* '' */
$pp-icon-plus: '\e80e';
.pp-icon-plus:before { content: $pp-icon-plus; } /* '' */
$pp-icon-share: '\e80f';
.pp-icon-share:before { content: $pp-icon-share; } /* '' */
$pp-icon-twitter: '\e810';
.pp-icon-twitter:before { content: $pp-icon-twitter; } /* '' */