
$wp-blue: #0085ba;
$wp-blue-light: #00a0d2;
$wp-blue-lighter: #e5f5fa;

$wp-green: #46b450;
$wp-green-lighter: #ecf7ed;

$wp-red: #dc3232;

$wp-yellow: #ffb900;
$wp-yellow-lighter: #fff8e5;

$wp-black: #23282d;

$wp-gray-darker: #32373c;
$wp-gray-dark: #cccccc;
$wp-gray: #f1f1f1;
$wp-gray-lighter: #f9f9f9;
$wp-gray-lightest: #fafafa;

$wp-toolbar:#555d66;
$wp-toolbar-background:#f5f5f5;


$pp-weekend-top:#f2f4f8;
$pp-weekend-bottom:#f7f8f9;
$pp-weekend-text:#9da5ab;



$pp-gray-white:#fdfdfd;
$pp-gray-lighter:#e5e5e5;
$pp-gray-light:#afafaf; // light-text
$pp-gray:#cdcdcd; // lines
$pp-gray-dark:#737a83; // text
$pp-gray-darker:#3a3e43; // dark-text


//
// $pp-dark-gray-white:#fdfdfd;
// $pp-dark-gray-lighter:#e5e5e5;
// $pp-dark-gray-light:#afafaf; // light-text
// $pp-dark-gray:#cdcdcd; // lines
// $pp-dark-gray-dark:#737a83; // text
// $pp-dark-gray-darker:#3a3e43; // dark-text
//



$pp-dark-gray-white:#fdfdfd;

$pp-dark-gray-lighter:#a2aab3;
$pp-dark-gray-light:#6c7581;
$pp-dark-gray:#737a83;
$pp-dark-gray-dark:#4d545c;
$pp-dark-gray-darker:#23272d;

$pp-dark-black: #1d2025;

//$pp-dark-weekend-top:#22252c;
//$pp-dark-weekend-bottom:#24272e;
//$pp-dark-weekend-text:$pp-dark-gray;



$pp-blue: #72c0d6; // blue - default
$pp-green: #6ec7c3; // green
$pp-purple: #8893ca; // purple
$pp-pink: #cb89c9; // pink




$pp-shadow:0 0 3px rgba(0,0,0,0.15);
