
@import 'colors';

@import 'dashicons';


$media-tablet:768px;

$media-phablet:375px;

$grid-gutter-width: 16px;


$short-date-width-sm: 90px;

$short-date-width: 110px;

$short-date-width-compact:70px;
