
@import '../../variables/variables';

@import '../../mixins/mixins';

.mce-i-pp_calendar-icon {
	&:before {
		content: $dashicon-calendar-alt; /* https://developer.wordpress.org/resource/dashicons/ */
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 20px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		font-weight: 400;
		font-style: normal;
		vertical-align: top;
		text-align: center;
		-webkit-transition: color .1s ease-in 0;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.pp-edit & {
		position:relative;
		&:after {
			content: $dashicon-edit;
			font-family: dashicons;
			display:inline-block;
			font-size:15px;
			line-height:15px;
			position:absolute;
			right:-4px;
			top:-4px;
			border-radius:50%;
			background:$wp-toolbar;
			color:$wp-toolbar-background;
		}
	}
}


.ui-datepicker {
	z-index: 900000 !important;
	.ui-widget-header a {
		cursor: pointer;
		transition: none;
	}
}
.ui-state-highlight {
	/* fix highlight state overriding hover / active */
	&.ui-state-hover {
		border: 1px solid #98b7e8 !important;
		background: #98b7e8 !important;
		font-weight: normal !important;
		color: #ffffff !important;
	}
	&.ui-state-active {
		border: 1px solid #3875d7 !important;
		background: #3875d7 !important;
		font-weight: normal !important;
		color: #ffffff !important;
	}
}
