
@import '../../variables/variables';

@import '../../mixins/mixins';

@import '../../fonts/fonts';

@include fontello-face( '../../..' );

@import '../../calendar-importer-main.scss';


.mce-content-body {
	[data-wp-entity='pp_calendar'] {
		padding:0;
		border-radius:4px;
		background:transparent;
//		border:1px solid #ddd;
		position:relative;
		cursor:pointer;
		min-height:45px;
		* {
			pointer-events:none;
		}
		&[data-mce-selected] {
			box-shadow:
				0 0 10px $wp-blue,
				0 0 10px $wp-blue,
				0 0 10px $wp-blue;
				&:after {
					content:'';
					position:absolute;
					left:0;
					top:0;
					bottom:0;
					right:0;
					background:rgba($wp-blue,0.3);
				}
		}
	}
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
}
